.body {
    background-image: url(../images/fondo.png);
}

.separarInicio {
    padding-left: 1.5rem;
}

#marginNoticias {
    margin: 0px 0px 0.7rem 0px;
    text-decoration: none;
}

.navbar-item img {
    max-height: 3rem;
}

#logo {
    background-color: white;
}

#redHoverInicio:hover,
#redHoverPrograma:hover,
#redHoverLocalizacion:hover,
#redHoverInscripcion:hover {
    color: red;
}

.has-background-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.paddingless-top {
    padding-top: 0px;
}

@media (max-width: 768px) {
    .has-padding-form {
        padding-left: 55px;
        padding-right: 55px;
    }
    .is-oculto {
        display: none;
    }
    .centrar-texto {
        text-align: center;
    }
}
